
<body class="login_page if action_name == 'login_page'">
<h2>Sign up</h2>
<div class="container">

  <h2 class="mt-5">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class = row>
      <div class="col">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>
        <div class="col">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, autofocus: true,  class: "form-control"  %>
      </div>
      </div>
      
      <br>
      <%= f.input :current_city,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "current city" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>

      <%= f.input :photo, as: :file,
          required: false, hint: "Select your new photo" %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-primary"%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>