<ul class="container container-myfavorite ">
  <h1 class= myfavorite-header>My favorites</h1>
  <% @favorites.each do |favorite| %>
    <div class="card-product">
      <% if favorite.favorite_user.photo.attached? %>
        <%= cl_image_tag favorite.favorite_user.photo.key, crop: :scale %>
      <% end %>
        <div class="card-product-infos">
          <h2><%= favorite.favorite_user.first_name %> <%= favorite.favorite_user.last_name %></h2>
          <p><strong><%= favorite.favorite_user.current_city %></strong></p>
          <p><%= favorite.favorite_user.occupation %> @<strong><%= favorite.favorite_user.company_name %></strong></p>
        </div>
    </div>
    <br>
  <%end %>
</ul>
