<h1>Favorites#index</h1>
<p>Find me in app/views/favorites/index.html.erb</p>


 <% @favorites.each do |favorite| %>
  <div>
    <h1><%= favorite.favorite_user.first_name %> <%= favorite.favorite_user.last_name %></h1>
    <p><strong>Batch No</strong> <%= favorite.favorite_user.batch_number %></p>
    <p><strong>Current City:</strong> <%= favorite.favorite_user.current_city %></p>
    <p><strong>Batch date:</strong> <%= favorite.favorite_user.batch_date %></p>
    <p><%= favorite.favorite_user.occupation %> @<strong><%= favorite.favorite_user.company_name %></strong></p>
  </div>
<%end %>  

