<ul class="container container-myfavorite ">
  <h1 class= myfavorite-header>My favorites</h1>

  <% @favorites.each do |favorite| %>
  <%= link_to user_path(favorite.favorite_user) do %>
    <div class="card-product">
      <% if favorite.favorite_user.photo.attached? %>
        <%= cl_image_tag favorite.favorite_user.photo.key, crop: :scale %>
      <% end %>
        <div class="card-product-infos">
          <h2><%= favorite.favorite_user.first_name %> <%= favorite.favorite_user.last_name %></h2>
          <p><strong><%= favorite.favorite_user.current_city %></strong></p>
          <p><%= favorite.favorite_user.occupation %> @<strong><%= favorite.favorite_user.company_name %></strong></p>
          <p class="mt-0"> <i class="fas fa-map-marker-alt"></i> <%=Geocoder::Calculations.distance_between([current_user.longitude,current_user.latitude], [favorite.favorite_user.longitude,favorite.favorite_user.latitude]).round(1) %> km </p>
        </div>
    </div>
    <br>
    <%end %>
  <%end %>
</ul>
