 <div class="container">
  <h1>Messages</h1>
    <% @chatrooms.each do |chatroom| %>
      <% if current_user.first_name == chatroom.receiver_name %>
        <div class="card-prod">
          <div class="avatar"> <%=cl_image_tag User.find(chatroom.sender_id).photo.key%></div>&nbsp;&nbsp;&nbsp;
          <h2><%= link_to chatroom.sender_name, open_chatrooms_path(chatroom.sender_id) %>:&nbsp;</h2>
          <% if chatroom.messages.present? %>
            <h3><%= chatroom.messages.last.content.truncate(30)%></h3>
          <% end %>
        </div>
      <% else %>
        <div class="card-prod">
          <div class="avatar"> <%=cl_image_tag User.find(chatroom.receiver_id).photo.key%></div>&nbsp;&nbsp;&nbsp;
          <h2><%= link_to chatroom.receiver_name, open_chatrooms_path(chatroom.receiver_id) %>:&nbsp; </h2>
          <% if chatroom.messages.present? %>
            <h3><%= chatroom.messages.last.content.truncate(30)%></h3>
          <% end %>
        </div>
      <% end %><br>
    <% end %>
</div>

