<h1>Chatrooms#show</h1>

<% if %>
<% current_user.first_name == @chatroom.receiver_name %>
  <h1><%= @chatroom.sender_name %></h1>
<% else %>
  <h1><%= @chatroom.receiver_name %></h1>
<% end %>
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <%= render'messages/message', message: message %>
  <% end %>
</div>
<%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Type a message" %>
<% end %>
