<div class="container contain-profile">
  <div class="profile-picture">
    <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :thumb %>
    <% end %>
  </div>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p><strong>Batch No</strong> <%= @user.batch_number %></p>
<p><strong>Current City:</strong> <%= @user.current_city %></p>
<p><strong>Batch date:</strong> <%= @user.batch_date %></p>
<p><%= @user.occupation %> @<strong><%= @user.company_name %></strong></p>
<%= link_to "Chat", open_chatrooms_path(@user), class: "btn btn-primary" %>
<%= link_to "Add to favorites", user_favorites_path(@user), method: :post, class: "btn btn-primary" %>
</div>


<% if current_user.favorites.where(favorite_user: @user, user: current_user).any? %>
  <%= link_to "Remove from favorites",
   user_favorite_path(@user), 
   method: :delete, 
   data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
<% else %>
  <%= link_to "Add to favorites", user_favorites_path(@user), method: :post, class: "btn btn-primary" %>
<%end%>

