<nav class="navbar-responsive">
  <ul class=  "d-flex list-unstyled justify-content-center inline-list">

    <li>
      <%= link_to "/users", class: "nav-link  link-home" do %>
        <i class="fas fa-home "></i>
      <%end%>
    </li>
    
    <li>
      <%= link_to "/chatrooms", class: "nav-link link-comments" do %>
        <i class="fas fa-comments"></i>
      <%end%>
    </li>

    <li>
      <%= link_to "/users/:user_id/favorites", class: "nav-link link-star" do%>
        <i class="fas fa-star "></i>
      <%end%>
    </li>

    <li>
      <%= link_to "/my_profile", class: "nav-link user-link" do %>
        <i class="fas fa-user"></i>
      <%end%>
    </li>

    <li>
      <%= link_to destroy_user_session_path, method: :delete, class: "nav-link sign-out-link" do%>
        <i class="fas fa-sign-out-alt"></i>
      <%end%>
    </li>
  </ul>
</nav>