<nav class="navbar navresp">
  <ul class=  "d-flex list-unstyled justify-content-center inline-list">

    <li>
      <%= link_to users_path, class: "nav-link  link-home link-resp" do %>
        <i class="fas fa-home logo-link "></i>
      <%end%>
    </li>

    <li>
    <div class="badge-div">
      <span class="badge badge-pill badge-danger badge-icon" style="float:right;margin-bottom:-10px;"><%= @unread_messages %></span>
      <%= link_to chatrooms_path, class: "nav-link link-comments link-resp" do %>
        <i class="fas fa-comments logo-link"></i>
      <%end%>
    </div>
    </li>

    <li>
      <%= link_to user_favorites_path(:user_id), class: "nav-link link-star link-resp" do%>
        <i class="fas fa-star logo-link"></i>
      <%end%>
    </li>

     <li>
      <%= link_to user_search_path , class: "nav-link link-star link-resp" do%>
        <i class="fas fa-search logo-link"></i>
      <%end%>
    </li>

    <li>
      <%= link_to user_profile_path, class: "nav-link user-link" do %>
        <% if current_user.present? && current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar-nav-responsive"%>
        <%end%>
      <%end%>
    </li>
  </ul>
</nav>

<!--Navbar-->
<nav class="navbar navbar-light light-blue lighten-4">

  <!-- Navbar brand -->
  <a class="navbar-brand">
    <%#= link_to users_path, class: "navbar-brand" do %>
    <%= image_tag "logo_alumnus_white_2.png",id: "logone" %>
    <%# end %></a>
  <h1 id="title-nav">Alumnus</h1>
  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-pink-text"><i
        class="fas fa-bars fa-1x"></i></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", users_path, class: "nav-link one" %>
        <!-- <a class="nav-link one" href="#">Home <span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item">
        <%= link_to "Favorites", user_favorites_path(:user_id), class: "nav-link one" %>
        <!-- <a class="nav-link one" href="#">Favorites</a> -->
      </li>
      <li class="nav-item">
        <%= link_to "Messages", chatrooms_path, class: "nav-link one" %>
        <!-- <a class="nav-link one" href="#">Messages</a> -->
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
